<div style="height: 60px; padding-left: 200px;">
	<nav id="cbp-hrmenu" class="cbp-hrmenu">
		<ul>
			<li>
				<a href="/about">About</a>
			</li>
			<li>
				<a href="#" class="popup_menu">Projects</a>
				<div class="cbp-hrsub">
					<div class="cbp-hrsub-inner">
						<div>
							<h4>Education &amp; Learning</h4>
							<ul>
								<li><a href="#">Learn Thai</a></li>
								<li><a href="#">Math Genius</a></li>
								<li><a href="#">Chemokid</a></li>
							</ul>
							<h4>Professionals</h4>
							<ul>
								<li><a href="#">Success 1.0</a></li>
								<li><a href="#">Moneymaker</a></li>
							</ul>
						</div>
						<div>
							<h4>Entertainment</h4>
							<ul>
								<li><a href="#">Gadget Finder</a></li>
								<li><a href="#">Green Tree Express</a></li>
								<li><a href="#">Green Tree Pro</a></li>
								<li><a href="#">Holy Cannoli</a></li>
								<li><a href="#">Wobbler 3.0</a></li>
								<li><a href="#">Coolkid</a></li>
							</ul>
						</div>
					</div><!-- /cbp-hrsub-inner -->
				</div><!-- /cbp-hrsub -->
			</li>
			<li>
				<a href="#">Contact</a>
			</li>
		</ul>
	</nav>
</div>