<div style="height: 60px; padding-left: 200px;">
    <nav id="cbp-hrmenu" class="cbp-hrmenu">
        <ul>
            <li>
                <a href="/about">ABOUT</a>
            </li>
            <li>
                <a href="#" class="popup_menu">PROJECT</a>
                <div class="cbp-hrsub">
                    <div class="cbp-hrsub-inner">
                        <div>
                            <ul>
                                <li><a href="#">App DEMO</a></li>
                                <li><a href="#">Product</a></li>
                                <li><a href="#">CI</a></li>
                                <li><a href="#">UI</a></li>
                                <li><a href="#">3Ds</a></li>
                                <li><a href="#">Art</a></li>
                                <li><a href="#">Photography</a></li>
                            </ul>
                        </div>
                    </div><!-- /cbp-hrsub-inner -->
                </div><!-- /cbp-hrsub -->
            </li>
            <li>
                <a href="#">CONTACT</a>
            </li>
        </ul>
    </nav>
</div>