<div style="height: 70px;">
    <nav id="cbp-hrmenu" class="cbp-hrmenu">
        <ul>
            <li>
                <a href="/about">ABOUT</a>
            </li>
            <li>
                <a href="#" class="popup_menu">PROJECT</a>
                <div class="cbp-hrsub">
                    <div class="cbp-hrsub-inner">
                        <ul>
                            <li><a href="#app_demo">App DEMO</a></li>
                            <li><a href="#product">Product</a></li>
                            <li><a href="#ci">CI</a></li>
                            <li><a href="#ui">UI</a></li>
                            <li><a href="#3ds">3Ds</a></li>
                            <li><a href="#art">Art</a></li>
                            <li><a href="#photography">Photography</a></li>
                        </ul>
                    </div><!-- /cbp-hrsub-inner -->
                </div><!-- /cbp-hrsub -->
            </li>
            <li>
                <a href="#contact">CONTACT</a>
            </li>
        </ul>
    </nav>
</div>